.country-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.visited {
    background-color: rgb(0, 113, 47);
}

.visited-country-wrapper {
    display: flex;
}

.visited-country-wrapper .image {
    width: 100px;
}